.main {
  min-height: 720px;
  position: relative;
  background-image: url(../../images/slider2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h1 {
  font-size: 50px;
  color: #133848;
  font-weight: 600;
  padding-bottom: 50px;
}

p {
  font-weight: 500;
  margin-bottom: 10px;
}

li {
  display: flex;
  font-weight: 500;
}

.list-icon {
  color: #31babe;

}

.telegram-link {
  text-decoration: none;
  color: #31babe;
  font-weight: 600;
  white-space: nowrap;
  transition: font 0.3s ease;
}

.telegram-link:hover {
  font-weight: 700;
}
