.about {
  position: relative;
  background-image: url(../../images/slider2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
  height: calc(100vh - 180px);
}

.about-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}


ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}

.about h1 {
  font-size: 50px;
  color: #133848;
  font-weight: 650;
  margin: 20px;
}

.about h2 {
  font-size: 40px;
  color: #0c6f72;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.about-content {
  padding-left: 30px;
}

p {
  font-weight: 500;
  margin-bottom: 10px;
  text-align: start;
  padding-left: 10px;
}

li {
  display: flex;
  font-weight: 500;
}

.list-icon {
  color: #31babe;
}

.telegram-link {
  text-decoration: none;
  color: #31babe;
  font-weight: 600;
  white-space: nowrap;
  transition: font 0.3s ease;
}

.telegram-link:hover {
  font-weight: 700;
}

.row {
  --bs-gutter-x: 0;
}
