.logo {
  width: 50px;
}

.navbar {
  background-color: #133848;
}

.link {
  color: gray;
  text-decoration: none;
}

.link:hover {
  color: #c7c3c3;
}

.active {
  font-weight: 650;
  color: #c7c3c3;
}
