.callback-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 20px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid #30d8b2;
  border-radius: 50%;
  color: #30d8b2;
}

.callback-icon::before {
  content: "";
  position: absolute;
  display: flex;
  width: 170%;
  height: 170%;
  z-index: -2;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.callback-icon::after {
  content: "";
  position: absolute;
  display: flex;
  width: 130%;
  height: 130%;
  z-index: -2;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.35);
}

.phone-logo {
  width: 64%;
  height: 64%;
}

.callback-form {
  position: relative;
  display: none;
  flex-direction: column;
  padding: 15px;
  background-color: #3d4043;
  border-radius: 8px;
  width: 250px;
  z-index: -4;
}

.form-input {
  margin: 10px;
  border-radius: 4px;
  border: none;
  padding: 5px 10px;
  color: #757575;
  font-size: 14px;
  height: 20px;
}

.form-input:-webkit-autofill,
.form-input:-webkit-autofill:focus,
.form-input:-webkit-autofill:hover {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #757575;
}

.form-input:focus {
  outline: none;
}

.form-button {
  background-color: #30d8b2;
  color: #757575;
  margin: 15px 10px 0;
  border-radius: 4px;
  border: none;
  padding: 10px 5px;
  font-size: 17px;
}

.form-select {
  border-radius: 4px;
  margin: 10px;
  border-radius: 4px;
  padding: 5px 10px;
  color: #757575;
  font-size: 14px;
  border: none;
}

.form-select:focus {
  outline: none;
}

.calendar {
  background-image: url(../../images/calendar.svg);
  background-repeat: no-repeat;
  background-clip: border-box;
  background-position: right 7px center;
  background-size: 20px 20px;
}
